[2012-06-19 16:25] seamusabshere opened #1 "PG merge function and nulls: `null value in column "iso_3166_code" violates not-null constraint (PG::Error)`"
the pg merge function needs to be smarter about nulls where there can't be nulls

[code]

[2012-06-23 00:11] joevandyk opened #2 "Getting: TypeError: wrong argument type Class (expected Module) when using upsert"
[code]

[2012-06-23 02:27] #2 closed, assigned to nobody

[2012-07-03 06:36] att88 opened #3 "PG update by ID"
[code]

[2012-07-03 14:39] #3 closed, assigned to nobody

[2012-07-27 01:14] #1 closed, assigned to nobody

[2012-09-07 21:14] randallb opened #4 "Batch create active records"
When i try to batch create records... I have issues with non-null constraints that Active Records would normally provide, ie created_time.

Code:

[code]

[2012-09-08 03:12] #4 closed, assigned to nobody

[2012-09-18 08:42] pgericson opened #5 "Upsert eats all ram/memory when doing basic upserts with only 1 upserts(Postgres)"
I run a simple upsert script on a Postgres server:

[code]

This runs forever and takes 20MB more ram of memory every second until there is no more memory.
On the wishlist, it says that Postgres should be able to take this kind of selector?
there is a unique index on(combined index) `column1, date_key, time_key, some_key, other_key`
this does not includes the columns `datetime, column_string, colu

[2012-09-24 09:34] #5 closed, assigned to seamusabshere

[2012-09-27 01:14] seamusabshere opened #6 "ON DUPLICATE KEY UPDATE has incorrect behavior when a multi-column selector"
unless you have a perfectly-formed multi-column unique index,

[code]

using ON DUPLICATE KEY UPDATE will incorrectly update a row with 'name': 'Jerry' but 'color': 'blue'

basically this is because we're not actually using the selector as a condition in a where clause

originally found in https://github.com/seamusabshere/py-upsert/blob/master/test/test_upsert.py

ON DUPLICATE KEY UPDATE should be

[2012-11-02 23:13] seamusabshere opened #7 "on postgresql, trying to put strings into integer fields fails confusingly"
[code]

if `foo` is a string field, it will blow up confusingly

[2012-11-08 03:40] #6 closed, assigned to nobody

[2012-11-14 17:35] ihough opened #9 "On mysql trying to write to an undefined field fails confusingly"
In a `data_miner` block `store 'foo', :units => :bar` produces the following error if the table does not have a  `foo_units` column.

[code]

[2012-12-02 01:41] thbar opened #10 "Broken merge function unique name (long case)"
I got an [exception here](https://github.com/seamusabshere/upsert/blob/master/lib/upsert/merge_function.rb#L26):

[code]

I suspect this is an untested part which contains a bug, maybe.

A quick fix that works for me:

[code]

Just replacing with the following did not work at least on pg:

[code]

(but maybe I was just off by one here).

[2012-12-03 16:41] #10 closed, assigned to nobody

[2012-12-10 15:51] markmarijnissen opened #11 "Upsert "Timestamp without time zone" error (postgresql)"
Suddenly, upsert throws errors.
- The **created_at** field has a `Time.now` as value (a Datetime)
- This gets converted into `2012-12-10 15:31:45.204132+00:00`
- Postgresql throws an error: `ERROR:  operator does not exist: timestamp without time zone`
- Postgresql suggets I might need an explicit type cast

See output below:

[code]

[2012-12-10 16:08] #11 closed, assigned to nobody

[2013-01-05 00:45] seamusabshere opened #13 "ERROR: tuple concurrently updated"
upsert-1.1.6/lib/upsert/connection/PG_Connection.rb:13:in `exec': ERROR:  tuple concurrently updated (PG::Error)

[2013-01-09 10:00] timuckun opened #14 "Have you considered using a common table expression?"
http://stackoverflow.com/questions/7802806/bulk-upsert-with-ruby-on-rails

WITH updates (id) AS (
     UPDATE mytable SET .....
      WHERE ....
     RETURNING id
)
INSERT INTO mytable (....)
SELECT ...
  FROM mytemptable
 WHERE id NOT IN (select id from updates);

[2013-03-21 13:07] antage opened #17 "How to define different setter for update and insert?"
I want to increment table field (by UPDATE) or set to 1 (by INSERT if record doesn't exist).
How can I do that with `upsert`?

[2013-04-04 11:26] att88 opened #18 "Nil values in the identifier selector does not match"
[code]

@seamusabshere, is this the expected behavior? Thanks!

[2013-04-25 20:09] batter opened #19 "Upsert fails silently in Rails when run with SQlite3"
I am running on a `rails 3.2.13` application, along with `sqlite3 1.3.7`, attempting to use `upsert 1.2.0` in my application but it doesn't seem to want to work and I'm stumped as to what I'm doing wrong.  Here's what I've done so far:

1) Added `gem 'upsert', '~> 1.2.0'` to my Gemfile
2) Ran `rake db:test:prepare`
3) Run `rails c test`, attempt to use upsert:

[code]

Examining the `log/test.log`

[2013-04-29 15:27] #19 closed, assigned to nobody

[2013-05-06 08:39] keeguon opened #20 "Multiple columns selector"
It would be a great idea if we could possibly use multiple columns for the selector.

[2013-05-06 13:54] #20 closed, assigned to nobody

[2013-05-07 04:21] eckley opened #21 "upserting with long setter hash fails (postgres)"
Trying to upsert a database table with many columns fails while the same code with some items removed succeeds.
Simplified code:

[code]

This fails with the error, the table name is nereus_stats_items:

[code]

however change update_row to either and the script runs fine:

[code]

I'm using:
ruby 1.9.3p194
rails 3.2.11
PostgreSQL 9.1.9 on x86_64-unknown-linux-gnu, compiled by gcc (Ubuntu/Linaro 4

[2013-07-08 15:01] #18 closed, assigned to nobody

[2013-09-30 17:34] aaudette opened #23 "Getting PG Error from specs"
I have the following method using upsert:
def job_code
    @code = JobCode.new(params[:api])
    selector = {:store_id => @code.store_id, :source_id => @code.source_id}
    setter = { :name => @code.name, :created_at => Time.now, :updated_at => Time.now }
    JobCode.upsert(selector, setter)
    render_json(@code, :created)
  end

And here is the spec that is giving me trouble:
describe 'job_code'

[2013-10-22 05:11] #23 closed, assigned to nobody

[2013-11-05 23:34] kjeremy opened #24 "Truncated incorrect datetime value with mysql"
I'm seeing the following (this does not happen with sqlite):

Truncated incorrect datetime value: '2013-11-05 23:24:22.124147+00:00'
/var/www/resumedb/shared/bundle/ruby/2.0.0/gems/upsert-2.0.1/lib/upsert/connection/Mysql2_Client.rb:7:in `query'
/var/www/resumedb/shared/bundle/ruby/2.0.0/gems/upsert-2.0.1/lib/upsert/connection/Mysql2_Client.rb:7:in`execute'
/var/www/resumedb/shared/bundle/ruby/2.0

[2013-11-06 01:22] pnomolos opened #25 "NULLs don't work as key values."
Doing something like this:

[code]

If `bar` is nil and there's a row in the database matching the values for `foo` and `bar` a duplicate row will still be entered (at least for MySQL and PostgreSQL) because `value2 = NULL` in the generated function will always return false.

I see that this was opened in #18 but I can confirm that the issue still exists (using the upsert 2.0.1 gem)

[2013-11-06 16:58] #24 closed, assigned to nobody

[2013-11-06 19:23] #25 closed, assigned to nobody

[2013-11-14 02:44] bf4 opened #28 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

  via e.g.

[code]

  Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the

[2013-12-06 05:00] jpcamara opened #30 "Making columns to be ignored on update a configuration"
It's nice that created_at and created_on are being ignored on updates, but it'd be even nicer if it could be expanded to encompass a user specified list of columns :smile:

Has any thought been put into this before? I have some fields that are required on insert, but don't need to be continually updated past that point (and don't change after insertion).

[2014-01-30 21:21] DaveSanders opened #31 "Support ODBC driver"
I can't say I'm surprised, but upsert doesn't suport ODBC::Database driver.  Just so happens for this one client I need to upsert to a ODBC (MSSQL) database.

If someone were to give me a clue where to start, I might be able to help here.  But I haven't had a chance to go dig through the code to figure out whats needed.

I suspect its not an itch that many people need to scratch.  But I figured I'

[2014-02-09 20:30] ali-bugdayci opened #32 "Upsert inserts another row in Rails 4.0.2 w/ sqlite3"
For sqlite3 problem with rails 3.2.16 see below:
 https://github.com/seamusabshere/upsert/issues/19#issuecomment-34584714

In rails  4.0.2:

[code]

Lets generate a 4.0.2 application:

[code]

Upsert creates the first row successfully. When updating the same record, it duplicates it:

[code]

Gemfile.lock:

[code]

[2014-02-12 03:51] ghost opened #33 "Upsert should update created_at/updated_at when using activerecord."
Since this merge https://github.com/seamusabshere/upsert/pull/15 upsert
no longer updates (or creates) updated_at created_at columns.

To play well with existing rails apps this behaviour should be optional.

[2014-03-12 00:17] elcuervo opened #34 "can't upsert in redis"
@pote suggested it!

[2014-05-02 21:52] seamusabshere opened #36 "doesn't return id from upserted rows"
it feels like it would be easy to return the ID of the upserted row... presumably this would help a lot of people

[2014-05-13 22:45] didil opened #37 "PG Segmentation fault (sidekiq / postgres)"
using upsert 2.0.3 with sidekiq 2.17.7 I get the following error

upsert-2.0.3/lib/upsert/connection/PG_Connection.rb:10: [BUG] Segmentation fault
ruby 2.0.0p451 (2014-02-24 revision 45167) [x86_64-linux]

-- Control frame information -----------------------------------------------
c:0048 p:---- s:0210 e:000209 CFUNC  :exec
c:0047 p:0025 s:0205 e:000204 METHOD /home/didil/.rvm/gems/ruby-2.0.0-p451

[2014-06-20 01:43] achiinto opened #38 "Upserting with Array does not work"
I am using the gem with PostgreSQL and JRuby. Have anyone tried doing Upsert with Integer[] or character varying(255)[]? I can't seem to get it work and always getting:

 "Hint: No function matches the given name and argument types. You might need to add explicit type casts."

When the same table is not upset with array attribute, everything worked fine. But when the array attributes are included,

[2014-06-24 18:55] williamherry opened #39 "make rspec test fail with current transaction is aborted error"
not fail every time and not fail if run it individually, after days of dig, I find some useful info in postgresql log

[code]

seems use that function before create it?

[2014-06-26 09:09] #39 closed, assigned to nobody

[2014-10-25 11:03] yurgon opened #41 "Problem with :hstore"
I try upsert with hstore

NameError: uninitialized constant PgHstore
/Users/yurgon/.rvm/gems/ruby-2.0.0-p481@railstutorial_rails_4_0/gems/upsert-2.0.3/lib/upsert/connection/postgresql.rb:18:in `bind_value'
/Users/yurgon/.rvm/gems/ruby-2.0.0-p481@railstutorial_rails_4_0/gems/upsert-2.0.3/lib/upsert/merge_function/PG_Connection.rb:21:in`block in execute'
/Users/yurgon/.rvm/gems/ruby-2.0.0-p481@rails

[2014-10-25 13:16] #41 closed, assigned to nobody

[2014-11-03 08:48] thbar opened #42 "Race condition on procedure creation? (sidekiq / mysql2)"
In a multithreaded environment (sikdeiq), I got one exception during batch upsert:

[code]

Is it expected? Would it be nice to retry the upsert automatically in that case?

[2015-01-02 16:47] fatcatt316 opened #46 "Batch insert using ActiveRecord"
Never mind, por favor delete this.  Thanks for this gem!

[2015-01-02 17:16] #46 closed

[2015-01-02 18:59] fatcatt316 commented on #33
Was this ever resolved?  Or is it still up in the air?  I just ran into this with "created_at" staying null...

[2015-01-02 19:42] seamusabshere commented on #33
@fatcatt316 this is still up in the air, unfortunately

[2015-01-02 19:47] fatcatt316 commented on #33
@seamusabshere Thanks for the quick reply.  I'm pondering ways around it, although for me it's not a showstopper...

[2015-01-02 20:40] pnomolos commented on #33
How about `:set_created_at`, `:set_updated_at` and `:set_timestamps` options?

[2015-01-02 22:12] seamusabshere commented on #33
@pnomolos :+1:

[2015-01-06 17:15] whistlerbrk commented on #37
@seamusabshere I'm experiencing this as well and will try the solution outlined and report back.

[2015-01-06 17:18] seamusabshere commented on #37
@whistlerbrk mysql or postgres?

[2015-01-06 17:24] whistlerbrk commented on #37
@seamusabshere postgres

ruby 2.1.5

pg (0.17.1)
rails 4.2.0
sidekiq 3.3.0
hiredis (0.5.2)
redis (3.2.0)

[2015-01-06 17:50] whistlerbrk commented on #37
I will add this error did crop up for me when fibers started having to wait for AR connections to become available -- I had concurrency set to be the same as the number of workers.. so I'm not entirely certain why this is occurring, perhaps connections aren't being checked back in, perhaps that is occurring when a job fails. Frankly my setup is really complicated and I neglected to mention I'm als

[2015-01-06 18:34] matthargett commented on #37
Just so other people hitting this know, we ended up migrating our schema to a format that made upsert unnecessary. We never did work around the reported error.

[2015-01-25 18:26] wcurtis commented on #37
I'm hitting a similar error using upsert with sidekiq. Problem dissapears if I set sidekiq concurrency to 1. If I comment out the upsert lines the issue disappears too.

@thbar's solution didn't fix, though I feel like that's the right idea. @whistlerbrk any luck?

[2015-01-27 02:22] wcurtis commented on #37
Here's a work-around I'm using in hopes that it helps anyone who finds this issue

Create an `UpsertDataWorker` worker that has its own `upsert` queue
[code]
Have a dedicated process with **1 thread** that pulls data off this queue and upserts it
[code]

From your multi-threaded workers (which upsert would break) rather than upserting inline, call the upsert worker to perform later
[code]

**Cavea

[2015-02-14 20:00] j0rd commented on #37
Same problem.
[code]

Tried adding
[code]
wrapper around it, but that doesn't fix. I got a full stack dump doing that, where previously it would just segfault with minimal errors.

I'm using Postgres on Rails 4.x & Ruby 2.2.0p0 on linux. Upsert 2.0.4

Turning sidekiq to 1 thread works. Multiple fails.

[2015-02-27 22:10] evadne commented on #37
The following code block stops making progress in a couple seconds in our Rails runner (development environment). I also suspect some connection is being reused and this is causing a lockup…

    Upsert.logger = nil
    threads = 10.times.map { |x|
    	Thread.new {
    		ActiveRecord::Base.connection_pool.with_connection { |c|
    		  Upsert.batch(c, :students) { |upsert|
    				loop {

[2015-02-27 22:27] thbar commented on #37
@evadne indeed the connection is cached and this is what is causing those issues. I started some work here https://github.com/seamusabshere/upsert/pull/44 to refactor and avoid that, but unfortunately I could not go further. I have switched to another solution for my client's project for now.

[2015-02-27 22:30] evadne commented on #37
Turns out that Upsert::MergeFunction#connection is reusing the connection from `controller`.

[2015-02-27 22:51] evadne commented on #37
I think moving the cache into the upsert instance (instead of doing it on the connection class) will do without affecting performance too much

[2015-03-13 13:30] #37 closed

[2015-03-20 02:58] surgevelocityllc opened #48 "Upsert created_at column?"
This is something that is definitely needed.

Please add an optional parm or something that can modify the column?

Looks like it just needs to address these lines:
[code]

[2015-03-30 16:18] fatcatt316 commented on #21
I just ran into this myself... I'm importing about half a million records, and this pops up very rarely.  I'm on Ruby 2.2 with PostgreSQL (pg-0.18.1 is the gem) and using upsert 2.0.4.  Any clues about this?

    ERROR:  function upsert2_0_4_fruits_sel_store_id_set_flavor_a_890319843(unknown, unknown, unknown, unknown, unknown, unknown, u
nknown, unknown, unknown, unknown, unknown, unknown, unknow

[2015-04-08 13:23] stAndrei opened #49 "BUG: UTF8"
After updating records with upsert all russian names become ????? ?????. In upsert log everything fine

[code]

I use MYSQL, mysql2 adapter and Upsert.batch. Column CHAR(128) with encoding UTF-8. Simple insert writes correct.

[2015-04-09 12:16] jrochkind opened #50 "integrate with AR find_or_create_by?"
In Rails4 (maybe previously?), AR has a find_or_create_by -- it has close to the same semantics as an upsert, but doesn't truly do an atomic upsert, it first does a select, then does an insert if neccessary.

But it got me thinking if it would be possible to write true upsert func like this gem, but which enhanced the AR find_or_create_by instead of providing it's own API.   You would just write y

[2015-04-09 12:17] jrochkind commented on #50
http://apidock.com/rails/v4.0.2/ActiveRecord/Relation/find_or_create_by

[2015-05-04 17:08] evadne commented on #23
This might have been fixed with our earlier thread-safety patch.

[2015-05-22 08:15] jan commented on #17
Can anyone sketch a solution for this?

[2015-05-22 08:29] jan opened #51 "Configure attributes not to be updated (other than created_(at|on)"
Sometimes it makes sense not to update fields, but you still need to set them for new records. You are already doing this for created_(at|on). We have a use case for not updating an additional field.

This would be much easier to implement than different create_atts and update_atts like suggested in
https://github.com/seamusabshere/upsert/issues/17 by passing an option and then using it in here:

[2015-05-22 12:59] seamusabshere commented on #51
@jan definitely - i would love for there not to be a static set of cols

[2015-05-28 23:48] aguynamedben opened #52 "PG::UndefinedFunction: ERROR: function with OID 1148257 does not exist"
Some of my offline workers run into this error when using upsert:

[code]

The job fails, and later upon retry, everything works. I just wanted to file in case anybody else was seeing this with upsert. Thanks for your work on this library.

Stack is
- Postgres 9.3.4
- upsert 2.1.0
- Ruby 2.1.3, Rails 3.2, Sidekiq 2.16.1, but I don't think that matters

[2015-05-28 23:55] aguynamedben commented on #52
I'm upgrading pg to the most recent version (0.18.2). I don't think this bug is related to pg. I'll post back here if I see the error again after pg 0.18.2 is deployed.

[2015-06-03 13:49] evadne commented on #38
Is this still an issue? Postgres arrays work okay with Rails 4.2

[2015-06-03 13:50] evadne commented on #42
Should be fixed via https://github.com/seamusabshere/upsert/pull/47

[2015-06-05 13:44] evadne commented on #23
I ran into a similar situation today and found the following quite useful

    SELECT relation::regclass, * FROM pg_locks WHERE NOT granted;

The culprit was a lock held on one of the tables due to schema creation within a transaction.

I worked around that problem with the following structure.

    RSpec.feature('IBIS Import', type: :feature) {
      self.use_transactional_fixtures = false

[2015-07-09 05:31] jufemaiz commented on #21
This is still an issue :\

[2015-07-11 00:07] zakcrawford opened #53 "Cannot update table within a schema (Postgres)"
## Cannot update table within a schema (Postgres)

Here is where the table name is being interpolated:
https://github.com/seamusabshere/upsert/blob/master/lib/upsert/column_definition/postgresql.rb#L12

Here is how it can be fixed

[code]

The line above needs to be changed to pass an array of table_name, and schema. Not sure what the best way to extract the schema from the table_name string, you

[2015-08-05 03:43] jufemaiz commented on #21
@eckley +@seamusabshere have you got any thoughts?

[2015-08-05 15:30] seamusabshere commented on #21
@jufemaiz does it happen consistently after you delete all upsert functions?

[2015-08-05 21:33] jufemaiz commented on #21
@seamusabshere to date it has. I've done another cleanout and will see how the next few weeks go.

[2015-08-26 00:27] aguynamedben commented on #52
For what it's worth I still see this all the time.

![image](https://cloud.githubusercontent.com/assets/107841/9482906/708eebe4-4b4e-11e5-8c6a-aff8ba41180b.png)

Postgres 9.5 will be released in Q42015 and [will have upsert](https://wiki.postgresql.org/wiki/UPSERT) if anybody cares.

[2015-08-28 13:54] nightsurge opened #57 "Postgres 9.5 native upsert support?"
Postgres 9.5 added Native Upsert support:

http://www.craigkerstiens.com/2015/05/08/upsert-lands-in-postgres-9.5/

[code]

[2015-08-30 21:25] jufemaiz commented on #21
@seamusabshere starting to see the issue arise again :(

[code]

[2015-09-25 18:23] seamusabshere commented on #57
@nightsurge we should detect it and use if available... maybe.

as i understand it, it requires the presence of a unique index - which this library does not.

so, it's not a drop-in replacement.

i would be happy to hear suggestions!

[2015-09-25 18:24] seamusabshere commented on #49
@stAndrei do you have any idea why that happens?

[2015-09-28 07:53] stAndrei commented on #49
@seamusabshere, no, I don't.

[2015-10-11 15:01] nilcolor opened #59 "Slower than AR?"
Hi!
I try to use this gem and there is something I can not understand...

[code]

while

[code]

Am I miss something? I'm using PG 9.3 btw.
File I was loading - is about 32k lines. When I use it to load small amount of records (about 100 lines) upsert was fastest. But not with real csv.

P.S.
Rails 4.0.13

[2015-10-13 20:11] aj0strow opened #60 "Does upsert work with postgres :json columns?"
Hey tried to batch upsert documents with json fields. I get an error for `PgHstore` so I'm guessing it thinks the hashes are supposed to be `:hstore` and not `:json`.

[code]

Is there a setting to have it assume `:json` instead?

[2015-10-15 00:45] jufemaiz commented on #59
Wow. I'm interested in these benchmarks!

[2015-10-15 00:52] rocketraceheroes commented on #57
I will update once it is out of beta and give it a try!

[2015-10-22 12:01] avivrosenberg opened #61 "PostgreSQL + JDBC: Error when updating value of a BIGINT column"
Hi,
I'm using Upsert (2.0.3) with JRuby 9.0.1.0 and PostgreSQL 9.3.

I have the following code:

[code]

Which updates rows on the following table:

[code]

This code used to work fine before I moved my application to JRuby. Now, with JRuby, I get the following error exception:

[code]

This number (3599657714) is the value of the `node_id` column of the row being updated.

Here is the relevant pa

[2015-10-28 08:24] santervo opened #62 "Procedure re-created on every use"
I'm using upsert rails plugin (ModelName.upsert(...))

Every time I call upsert method on rails plugin, I see new log entry

    Creating or replacing database function "upsert2_1_0....

Procedure name is same but it's still re-created on *every* call. Is this bug or intentional?

Github page says that is should re-use existing function. ("Transparently creates (and re-uses) stored procedures/func

[2015-10-28 08:35] santervo commented on #62
I assume this happens because new Upsert object along with new MergeFunction object are created on every call to ActiveRecordModel.upsert. In the MergeFunction constructor procedure is created:

     create! unless assume_function_exists

[2015-11-08 12:00] johnrees commented on #60
I just ran into this too, when trying to update a jsonb column. Got to head out now but will try and dig further later.

[code]

[2015-11-15 16:11] seamusabshere commented on #62
@santervo it looks like this happens because of https://github.com/seamusabshere/upsert/commit/e3e85941d7cd024c8f598ce3c431db4f3cc93fdd

@evadne do you have any ideas on how we can prevent every call to `Pet.upsert` from recreating the function every time?

[2015-11-17 08:41] randomm commented on #62
This is also an issue for us, my log files are full of this...
[code]

[2015-11-17 08:46] santervo commented on #62
@seamusabshere @evadne

If I understand correctly, upsert will still recreate procedure if it does not exist (at least with MySQL)

https://github.com/seamusabshere/upsert/blob/master/lib/upsert/merge_function/Mysql2_Client.rb#L19

One option would be to allow defining "assume_function_exists" default value in some global configuration (during app initialisation)

[2015-11-20 11:37] jufemaiz commented on #21
[code]

Still happening, and in this instance there's only one (1) function matching

[code]

[2015-12-16 15:27] EndangeredMassa commented on #36
This would be extremely helpful. To emulate this right now, you have to do another find with the selector.

[2016-01-06 18:02] amalagaura commented on #57
@seamusabshere Your approach is nicer to not require the unique index, but in real world applications I can see having the unique index being an acceptable pre-condition.

[2016-01-11 11:01] robotfelix opened #66 ""Thread.exclusive is deprecated" warning on Ruby 2.3.0"
The first call to the `#logger` method in the Upsert gem results in a deprecation warning on ruby 2.3.0

[code]

It seems like a temporary way to avoid the warning is to explicitly set the logger before this method is called using `#logger=`, however to maintain compatibility with future versions the `#logger` method may need to be updated.

[2016-01-15 01:27] evadne commented on #62
Looks like a MySQL-only problem?

[2016-01-27 17:36] evadne opened #68 "bug(postgres): possible to cause a PG::AmbiguousFunction exception"
I got the following exceptions being thrown a couple of times in Postgres when I kick off a few thousand concurrent Sidekiq jobs that use Upsert.

[code]

This particular exception is thrown here:

[code]

Upon further investigation with the following query things look fine, all Upsert functions appear exactly once in the `public` schema:

[code]

I have two separate concerns regarding this findin

[2016-02-02 14:27] randomm commented on #60
Did you guys have any luck with this? I'm also struggling with trying to upsert JSON.

[2016-02-02 14:31] randomm commented on #62
Happens with Postgres also.

[2016-02-02 14:50] johnrees commented on #60
I took a totally different approach in the end but I'd also be interested to know if anyone had come up with anything.

[2016-02-02 18:54] randomm commented on #60
I did some digging around and indeed it confuses json for Hash in the Postgreslq connection: v.class returns Hash for json data.

[2016-02-03 12:32] ThadeuBrito opened #69 "Sum the new setter with the data"
Hello, I don't know if is possible do it using this gem, it is the case:
[code]

I don't wanna only update the count attribute, if the `product1` has a `count: 1` in the database, I wanna sum the database value with the new value. In this case `product1.count` became 3(2+1).

Is it possible? Thanks all

[2016-02-04 21:02] seamusabshere commented on #62
@evadne would it be possible to avoid this by simply defaulting `assume_function_exists` to true?

[2016-02-10 00:00] maciejkowalski commented on #60
@randomm

Even `to_json` doesn't seems to work :/

[code]

[2016-02-10 00:07] maciejkowalski commented on #60
This gem has very slow perfomance for me...

Snippets from rails logs

[code]

[code]

[code]

[code]

[2016-02-12 23:49] seamusabshere commented on #62
possibly fixed by https://github.com/seamusabshere/upsert/commit/daef036ab28258b977ada5d4de790cd32b26b064

[2016-02-12 23:49] #62 closed

[2016-03-14 13:37] #66 closed

[2016-03-14 13:40] seamusabshere opened #71 "uses a different merge function for every combination of inputs"
it should just have a single postgres function that takes one selector arg and one setter arg

the arg type should be `record` or maybe `hstore` or maybe `json`

then we don't have to constantly create new merge functions for new inputs

[2016-03-14 13:42] seamusabshere commented on #71
@evadne i think this would solve a large number of problems

it would also make the approach competitive even with 9.5 UPSERT because we don't require unique keys

[2016-03-16 02:58] jufemaiz opened #72 "PostgreSQL error » duplicate key value violates unique constraint "pg_proc_proname_args_nsp_index""
[code]

I'm using upsert as part of a background process (Delayed::Job) dealing with inbound data on PostgreSQL with a number of processors.

PostgreSQL shows the following: http://www.postgresql.org/message-id/4B9EA2FD.8090902@agliodbs.com

[2016-03-22 19:03] evadne commented on #71
@seamusabshere a couple of questions

1. Do we need to marshal / unmarshal and does that hurt performance
2. Is it bad if we rely on Postgres 9.5 UPSERT?

[2016-03-22 19:05] evadne opened #73 "bug(): function creation may fail if called from transactions concurrently"
If I run this code in a Sidekiq worker and queue them up I sometimes get failures. It would seem that the error rate can be as high as 10%.

    ActiveRecord::Base.connection_pool.with_connection { |connection|
      Upsert.batch(connection, entry_class.model_name.collection) { |upsert|
        connection.transaction {
          touch
          …
          upsert.row(selector, setter)
        }

[2016-03-23 20:27] seamusabshere commented on #71
@evadne

1. i checked in the #postgresql IRC channel and apparently you can't use `record` as an input type. that makes me think we have to pass in json (e.g., `upsert(selector::jsonb, setter::jsonb)`) in order to allow many different inputs to use the same function. there will be a performance penalty, but it will still be faster (i think) than the alternatives (except of course native 9.5 upsert

[2016-03-29 03:03] jufemaiz commented on #72
Just wondering if there was any thoughts on this one?

[2016-04-28 10:41] chetang commented on #50
:+1:

[2016-06-03 18:48] Ch4s3 commented on #23
Is there another fix for this?

[2016-06-13 21:53] Ch4s3 commented on #60
Any fixes yet?

[2016-06-13 21:55] seamusabshere commented on #60
hi,

unfortunately `upsert` does not currently support `json` or `jsonb`. at the time it was written, `hstore` was the only game in town (or, at least, the only one i knew about).

[2016-06-13 21:58] Ch4s3 commented on #60
Are you open to a PR for json?

[2016-06-14 01:07] seamusabshere commented on #60
@ch4s3 definitely!

[2016-06-14 01:45] Ch4s3 commented on #60
I'll take a look with my team next week

[2016-06-16 14:02] fc-arny commented on #60
@Ch4s3

 Temporary solution:

[code]

[2016-06-16 14:07] Ch4s3 commented on #60
Yeah, I'm doing something like that.

[2016-07-29 16:22] Ch4s3 opened #76 "Old stored procedure not updated"
I have a column that was changed from integer to float and the stored procedure keeps reverting to the integer type and breaking on insert with the following error:

[code]

I've tried dropping the database and recreating it to regenerate new procedures and then committing those. It still breaks on my staging environment as though the procedures are being restored or recreated incorrectly.

[2016-08-25 14:27] coin8086 opened #78 "Would you leverage the native support of upsert in PostgreSQL 9.5?"
Now PostgreSQL 9.5 natively supports upsert:

[code]

Here's the release notes:

https://www.postgresql.org/docs/9.5/static/release-9-5.html

[2016-09-19 18:20] pnomolos commented on #78
I just began working on this.  The major problem (from the perspective of this project) is that the PostgreSQL implementation requires there to be a unique constraint on the columns being used in the `ON CONFLICT` clause.

"upsert" shouldn't be creating these constraints.  The best case scenario is probably the following:

- Is the version >= 9.5 __and__ does a constraint across all the selector f

[2016-09-19 22:28] pnomolos commented on #78
@coin8086 See https://github.com/seamusabshere/upsert/pull/79 - hopefully it can be added before too much longer :)

[2016-09-20 14:54] seamusabshere commented on #71
i think this is basically impossible - we have to write an upsert function for every combo of inputs.

[2016-09-20 14:54] #71 closed

[2016-09-21 05:54] pnomolos commented on #76
@Ch4s3 If you run something like the following you can clear all currently existing functions created by upsert:

[code]

I have a rake task that is run after deployment so fresh versions of the functions are available every time.

[2016-09-21 05:55] pnomolos commented on #72
@jufemaiz Any chance you could provide a code sample (if you're still running into the issue)?

[2016-09-21 09:21] jufemaiz commented on #72
Hi @pnomolos, I've rolled off to an alternative solution using composite primary keys + create_or_update_value

https://gist.github.com/jufemaiz/6043806705eb4fb906f53468c50c7480

That's approximating what I'm trying to achieve.

Multiple application instances doing this concurrently on different data sets.

[2016-09-21 15:14] pnomolos commented on #61
@avivrosenberg A fix for this should be coming via https://github.com/seamusabshere/upsert/pull/80.  If you're able to test that branch against your code and see if it works for you that would be great :)

[2016-09-21 15:43] pnomolos commented on #72
@jufemaiz Are you wrapping your upsert blocks in transactgions?

[2016-09-21 16:08] pnomolos commented on #60
@Ch4s3 Have you been working on a PR for json?  If not I'll take a look at this one because I'm sure we'll be using it in the near future :)

[2016-09-21 17:28] pnomolos commented on #72
@jufemaiz Also, is/was your code multi-threaded, or is/was it independent delayed jobs causing the issues?

[2016-09-21 17:47] seamusabshere commented on #60
(we should do `json` and `jsonb` obv)

[2016-09-21 17:48] pnomolos commented on #60
@seamusabshere `json` will need some extra work if it's being used in the setter fields, as there's no native comparison operator for it.

[2016-09-21 17:49] pnomolos commented on #68
@evadne Is this still happening?  It looks like the problem is that Upsert isn't passing any type information when it calls the function, so PostgreSQL can't figure out which one to call.

[2016-09-21 17:50] pnomolos commented on #57
@nightsurge @amalagaura See #78.  It's in progress now :)

[2016-09-21 18:11] seamusabshere commented on #60
(you mean selector fields?) we should probably just disallow it in the selectors.

[2016-09-21 18:14] pnomolos commented on #60
@seamusabshere Yes, that's what I meant :) That'd probably be the best.

[2016-09-26 21:17] pnomolos commented on #53
@seamusabshere What's your thoughts on this one?  I'm going to need it myself so it'll be next on my list :)

[2016-09-27 08:07] jufemaiz commented on #72
@pnomolos you'll have to go easy on me, going back a bit.

1. Not that I remember.
2. Independent jobs were causing issues (I believe). I had multiple Delayed::Job processes running in parallel, on multiple instances (AWS EC2).

[2016-10-03 04:07] nqtien310 opened #83 "Batch issue"
What's the difference between, I suppose the batch should only make 1 call to the DB but turns out it doesn't
[code]
and
[code]

[2016-10-03 13:28] abaldwin88 opened #84 "Postgres fails inside transaction without initialization"
Running an upsert command inside a transaction fails unless you first run it outside a transaction first.   psql version 9.4.5 and 9.5.4
### Fails if we run inside a transaction first

[code]
### Works correctly if we run outside a transaction first to create the postgres function

[code]

See minimal example...
https://github.com/abaldwin88/upsert_minimal

Is this a known issue?  In our use case

[2016-10-03 16:19] pnomolos commented on #73
@evadne I believe this should be fixed once https://github.com/seamusabshere/upsert/pull/81 is completed :)

[2016-10-05 19:36] abaldwin88 commented on #84
I believe the issue revolves around the manner in which a missing function is detected... https://github.com/seamusabshere/upsert/blob/1d26591ca0236aa153c1d7be4dcc8eeb2121c15e/lib/upsert/merge_function/PG_Connection.rb#L22-L27

Catching PG::Error when inside a transaction means that the transaction has already been aborted on the database side but we continue to execute commands against it.

Not s

[2016-10-06 02:29] juanpastas opened #85 "Batch for ActiveRecord"
Would it be possible to add a batch method for  ActiveRecord:

[code]

[2016-10-07 18:44] pnomolos commented on #84
@seamusabshere We could query the relevant DB and check for the existence of a function rather than checking for failure?

[2016-10-07 18:45] pnomolos commented on #78
Closed via #79.  Will be used if it's available (dependent on PG version as well as existence of a unique index on the column(s) being used for selectors).

[2016-10-07 18:45] #78 closed

[2016-10-07 18:45] pnomolos commented on #57
Closed via #79.  Will be used if it's available (dependent on PG version as well as existence of a unique index on the column(s) being used for selectors).

[2016-10-07 18:45] #57 closed

[2016-10-11 16:04] pnomolos commented on #49
@stAndrei I don't know if you're still dealing with this issue, but did you check the character set and encoding values on both sides (client and server)?  I just added a pull request to make sure UTF8 is checked in the tests, but it required a bit of tweaking to make sure everything properly worked on mysql.

[2016-10-11 23:37] pnomolos commented on #14
From everything I've read it seems like writeable CTEs, while likely faster, don't 100% guarantee correctness (unlike the function, which will).

- http://dba.stackexchange.com/questions/78510/why-is-cte-open-to-lost-updates (This one, in particular)
- http://stackoverflow.com/questions/17267417/how-to-upsert-merge-insert-on-duplicate-update-in-postgresql/17267423#17267423
- http://stackoverflow.c

[2016-10-18 13:46] abaldwin88 commented on #85
Looks like this is already open in #33 ?

[2016-10-18 15:00] pnomolos commented on #85
The second portion is, the first is a new feature request.

[2016-10-18 15:03] pnomolos commented on #83
@nqtien310 There is no functional difference between those two at the time being.  If it's possible for them to be bulk-optimized (better than just sending all the SQL commands at once, vs. one at a time) then those improvements will show up in the `batch` form :)

[2016-10-18 15:52] pnomolos commented on #42
If this is still an issue, it should be fixed via #81

[2016-10-18 21:38] pnomolos commented on #84
@abaldwin88 See #87 (once Travis checks everything off as being A-OK).  I'm working up a better solution, though, as there's a significant performance drop when using savepoints so liberally.

[2016-10-19 12:09] abaldwin88 commented on #84
@pnomolos Excellent!

Right now I am creating the function before using upsert.  Not great but our use case is only a single upsert command (for now).

Looking forward to putting in a proper fix once your PR is merged - Thanks again.

[2016-10-27 15:24] coin8086 commented on #78
Thanks!

[2016-11-12 00:16] #61 closed

[2016-11-12 20:11] pnomolos commented on #84
Fixed via PR #87

[2016-11-12 20:11] #84 closed

[2016-11-12 20:14] pnomolos commented on #59
@nilcolor Are you still interested in this?  If you wouldn't mind re-testing with the latest version of the gem to verify you're still seeing the performance issue, that would be great.  If it's still an issue after that is there a chance I could get some sample data from you to test against?

[2016-11-12 20:17] pnomolos commented on #72
@jufemaiz If you're willing/able to try this again once the next version of the gem comes out, that would be great.  Also, wrapping your Upsert block in a transaction (not sure if that's feasible for your use case) should help guard against this.  It looks like two independent jobs are both checking for the existence of a function at the same time, then both trying to create it.  As well, if you'r

[2016-11-12 20:18] pnomolos commented on #52
@aguynamedben Are you still using Upsert?  If so, the next version of the gem will have native support for PG 9.5+ `INSERT ... ON CONFLICT` syntax :)

[2016-11-12 21:21] pnomolos commented on #50
While it is unfortunate that `find_or_create_by` doesn't do an atomic operation, I don't believe it would be feasible for Upsert to interact with ActiveRecord at this level, due to the following reasons:
- Callbacks: AR fires different callbacks depending on whether a record is created or just saved.  We'd need to somehow track those records to be able to provide identical functionality, because A

[2016-11-12 21:21] #50 closed

[2016-11-12 21:23] pnomolos commented on #49
@stAndrei I've added a spec to verify that this isn't an Upsert issue in PR #86 .  Do note that if you were using MySQL's `utf8` charset (as opposed to `utf8mb4`) it's possible you're running into issues with that charset.

[2016-11-12 21:23] #49 closed

[2016-11-12 21:43] jrochkind commented on #50
Okay, thanks. I might hack on it myself a bit if I have time. Pessimistic locking is not a good fit for me.  I don't upsert on pk though, I let the db assign pk but upsert on another column. But getting the data back out from the upsert would be the real stumbling block, especially to get the pk as in my use case.

[2016-11-12 21:47] pnomolos commented on #50
@jrochkind Yeah, unfortunately doing that as well as being compatible with the existing callback chain, etc, on `find_or_create_by` is going to be extremely tricky.  It sounds like you might be better off with something custom specifically for your purpose.  If you're using Postgres, you'll want to look into something like this: http://stackoverflow.com/questions/2276574/returning-inserted-rows-in

[2016-11-12 22:17] pnomolos commented on #51
@jan @seamusabshere I think that something between these two options would be the most useful solution - something like
- `Upsert.batch(connection, table, separate_selector_and_setter: true)` OR
- `Upsert.batch(connection, table, ignore_update_fields: %w[list of fields])`

which would allow you to enable the functionality as-needed.

I would rather not use a constant (or class level variable) as t

[2016-11-12 22:26] pnomolos commented on #36
This should be do-able in both PostgreSQL and MySQL without too much difficulty (while still being transaction-safe) but I'm not sure about `sqlite3` (see http://stackoverflow.com/questions/6242756/how-to-retrieve-inserted-id-after-inserting-row-in-sqlite-using-python for a python example).  I'll investigate and see what I can come up with :)

[2016-11-12 22:29] pnomolos commented on #30
This is earlier, but a dup of #51 and since the conversation's there I'm closing this :)

[2016-11-12 22:29] #30 closed

[2016-11-13 08:52] pnomolos commented on #9
Closing this, as it was fixed via commit f51c9eab

[2016-11-13 08:52] #9 closed

[2016-11-13 09:05] pnomolos commented on #7
@seamusabshere Do you want to catch this at the Upsert level (specifically check the types of the fields being inserted, which seems slow) or try to catch the exception from Postgres and turn it in to something useful?

[2016-11-13 09:40] pnomolos commented on #7
I took a look and unfortunately `pg` doesn't let you register an error handler, which means we're going to need to wrap every upsert call in a `rescue` block ... which is going to introduce a slight bit of slowdown, although I'm not sure how much.

I think that rather than trying to present a useful error message we instead add a note to the README indicating that mis-matched types are going to re

[2016-11-13 18:24] jrochkind commented on #50
Aha, looks like someone's already done this for postgres and Rails5, probably using the postgres technique you mentioned, although I haven't read the source yet.

https://github.com/jesjos/active_record_upsert

[2016-11-14 08:41] nilcolor commented on #59
@pnomolos I'm really sorry but I'm not working on that project since 2016. So it can be difficult to repeat the test.
If I will have an opportunity to use this gem in my current work I'll let you know how its going.
Thank you for your work!
I think we can close this ticket for now.

[2016-11-14 16:17] aguynamedben commented on #52
@pnomolos Yes, in one place. I believe in a few areas we just switched to doing a transaction to get rid of the errors, possibly at the cost of absolute consistency.

That's is *very* awesome I will check it out. Thanks!

[2017-01-24 12:01] BKSpurgeon opened #93 "installation on rails?"
Hi all

thank you so much for the hard work you've put into this.

pls forgive my ignorance. how do i actually get this gem this to installed on a rails app? there were no explicit instructions on the documentation and am seeking your advice. pointers much appreciated. chrs

regards

Ben

[2017-01-24 15:54] pnomolos commented on #93
Hi Ben,

All you need to do is add `gem "upsert"` to your Gemfile and run `bundle install`.  There are no installation instructions other than that.  Usage is as mentioned in the README; https://github.com/seamusabshere/upsert#activerecord-helper-method probably would be the most likely method for you to use.

[2017-01-24 22:11] BKSpurgeon commented on #93
Hello thx so much.

[2017-01-24 22:11] #93 closed

[2017-02-18 12:38] ioquatix commented on #17
Is this possible yet?

[2017-03-01 21:14] Ch4s3 commented on #60
@pnomolos I never got around to this unfortunately. I've been using `to_json` to upsert things and it seems to work well enough.

[2017-03-31 17:00] letronje opened #96 "Doesn't work on heroku"
The upsert calls work locally, but on Heroku, I see this error

LINE 1: SELECT upsert2_1_2_group_conversations_SEL_id_SET_id_A_lates...
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[2017-03-31 22:08] pnomolos commented on #96
@letronje Are you able to log in to a psql shell on heroku and try creating a function yourself?  I took a look over the code again and while it __should__ throw an error (from Upsert, not PG) if the function creation fails, perhaps there's an edge-case that's been missed.

[2017-03-31 22:10] pnomolos commented on #17
@ioquatix It's not possible yet, this is still definitely on the wishlist.

[2017-03-31 22:11] pnomolos commented on #59
Closing this issue for now.  @nilcolor If you run into an issue again please open a new ticket 👍

[2017-03-31 22:11] #59 closed

[2017-04-14 17:14] willsoto opened #97 "Release plan?"
Thank you for creating this library, it's great!

I have a question about releases. There hasn't been a release in some time, and I was wondering if there are any plans to do so? It would be great to have #79 without having to reference the latest commit hash.

Is there anything we can do to help this process?

Thanks!

[2017-04-14 18:45] pnomolos commented on #97
@willsoto funny this should come up today - Seamus just released 2.2.0 which includes all those fixes!  I'm hoping we can push out releases more often in future, though :)

[2017-04-14 18:48] willsoto commented on #97
Thank you so much!

[2017-04-14 18:48] #97 closed

[2017-04-19 13:49] willsoto opened #98 "Clarification on unique indexes"
I noticed [this](https://github.com/seamusabshere/upsert#native-postgres-upsert) in the README, but I think I need some clarification on what it means.

Currently, I am seeing the non-native `upsert` being used even though I have am on Postgres 9.6 and I have a unique index on the field I am upserting on.

[code]

I am on version 2.2.0 of the gem, from `Gemfile.lock`:

[code]

Any thoughts or clar

[2017-04-19 14:39] pnomolos commented on #98
@willsoto Do you mind posting the output of `\d+ <table_name>`, as well as the Upsert snippet that you're using?

[2017-04-19 14:51] willsoto commented on #98
I can post a snippet of that table - unfortunately I can't post the whole thing.

[code]

And here is the code:

[code]

I am using AR as well. I have `require 'upsert/active_record_upsert'` in the `application.rb`

[2017-04-19 15:21] pnomolos commented on #98
@willsoto Can you post the results of the following query (omitting what you have to)?

[code]

Replace `$` with your quoted table name.

[2017-04-19 16:25] willsoto commented on #98
So I _think_ I did it right.

Here is the query:

[code]

Here is the output:

[code]

[2017-04-19 16:50] pnomolos commented on #98
@willsoto OK, I may have to see if I can make this a little better.  It looks like you only have a unique index, which isn't classed as a constraint in Postgres.  A unique constraint will create an index, but not vice-versa.  However, if you try the following:

[code]

I believe that will get you what you want.

[2017-04-19 19:07] willsoto commented on #98
Alright, so that makes sense now, I didn't even think to take a look if AR was adding a true `CONSTRAINT`...

[code]

I get a new error now though:

[code]

Any thoughts?

[2017-04-19 20:13] pnomolos commented on #98
Hi Will,

Yes, I saw that error as well when I was debugging your problem.  I _believe_ that the `pg` library may have changed things and this is why it isn't working.  I'll get a PR and patch together hopefully soon, but for the meantime including this code somewhere after Upsert is required this should do the trick for you:

[code]

[2017-04-19 20:48] willsoto commented on #98
Still seeing the same error. I am adding that snippet of code in an initializer. I've tried it several ways with no luck. Not sure if it has anything to do with the fact that I am using ActiveRecord?

[2017-04-19 20:55] pnomolos commented on #98
@willsoto No, I don't believe so.  I'm not able to test right now, but now that I think about it harder I believe that Upsert loads the adapters dynamically on the first Upsert call, so your code would always be overridden (unless you wanted to go through the trouble of calling Upsert one, catching the error, then inserting your code).  As I said, I'll try and put a test case together and a patch.

[2017-04-20 06:08] pnomolos commented on #98
@willsoto Once #99 is passing I'll see if @seamusabshere Can bump the version to 2.2.1 and cut us a new gem!

[2017-04-20 11:16] willsoto commented on #98
Thank you for such a timely resolution. I appreciate it.

[2017-04-20 12:35] seamusabshere commented on #98
hopefully fixed by https://github.com/seamusabshere/upsert/commit/5e32c94917e4697bba591a87639c947e92ad3423

[2017-04-20 12:36] seamusabshere commented on #96
@letronje can you provide a fuller backtrace?

[2017-04-20 12:49] willsoto commented on #98
That did it. Thanks again for everything.

[2017-04-20 12:49] #98 closed

[2017-04-21 08:22] letronje commented on #96
Hey sorry about the delay. I think restarting the dyno helped. works now.

[2017-04-21 08:22] #96 closed

[2017-04-24 06:07] nitvik commented on #85
This feature should be implemented, it will make the batch upsert slow. The whole point of batch upsert is speed.

[2017-05-03 20:53] pnomolos opened #100 "Support library-specific qualified names"
For example: `Sequel::SQL::QualifiedIdentifier` from Sequel.  I'm not sure if Arel/ActiveRecord has a similar syntax.

[2017-05-03 22:10] pnomolos commented on #14
I'm going to close this for the time being, now that Postgres provides native upsert and we use that when available.

[2017-05-03 22:10] #14 closed

[2017-05-03 22:11] pnomolos commented on #42
Marking this as closed, please re-open if it's reproducible with the latest version of Upsert (2.2.1 as of writing).

[2017-05-03 22:11] #42 closed

[2017-05-03 22:37] pnomolos commented on #73
@evadne Did you have a chance to check this against #81 ?

[2017-05-03 22:40] pnomolos opened #101 "Support for fully qualified table names"
This has come up before in #53 and is partially fixed in #95.

### Requested Support

- MySQL: Generally (appears) to not be an issue, probably due to it only the edge-case of wanting to upsert to a different database - you'd generally use the connection for the other database instead.  That being said, we might as well add support for `dbname.tablename` for those using MySQL.  We *will* have to m

[2017-05-03 23:22] zakcrawford commented on #101
I think that people relying on case insensitivity should not be an issue for pushing this in a new major version.
A major version bump is the place to make 'breaking' changes.

[2018-04-04 08:19] #7 closed, assigned to nobody

[2018-04-04 13:32] seamusabshere commented on #7
@pnomolos i think you did the right thing

[2018-04-04 15:53] #72 closed

[2018-04-04 22:17] pnomolos opened #105 "Upgrade to Ruby 2.3/ActiveRecord 5 as a minimum"
@seamusabshere What are your thoughts?  We could do a full version bump to 2.0 for this to indicate that it's a very breaking change.

[2018-04-07 12:38] seamusabshere opened #106 "create all upsert functions in a dedicated schema so they can be dropped all at once"
for example, schema name "upsert_VERSION"

since we control the invocation of the function, we could always invoke it with the `upsert_VERSION` schema prefix

[2018-06-24 22:05] searls commented on #1
FWIW, this is still an issue. I'm relying on PG merge and have a partial upsert routine and because it doesn't update every nullable column it will fail with `=> #<PG::NotNullViolation: ERROR:  null value in column`

[2018-06-28 06:22] pnomolos commented on #68
I'm marking this as closed for now, no response.

[2018-06-28 06:22] #68 closed

[2018-06-28 06:28] pnomolos commented on #34
At this point there are no plans to support non-relational databases (as far as I know, at least :smile:), so marking this as closed.

[2018-06-28 06:28] #34 closed

[2018-06-28 06:31] pnomolos commented on #21
Marking this as closed - I believe it's fixed via #89.

[2018-06-28 06:31] #21 closed

[2018-08-19 03:04] KevinColemanInc opened #110 "Batch does not batch"
I noticed that calling `batch` does not actually batch the sql queries.  for every `#row` call, there is a new sql execution call.

I was expecting the batch to execute 1 query with all of the upsert changes.

[2018-08-19 03:06] pnomolos commented on #110
This is a known issue which we’re hoping to address in the next version :)

[2018-08-19 03:08] KevinColemanInc commented on #110
Is there a branch with this feature being added?  Maybe I could look at trying to finish it?

[2018-08-19 03:33] pnomolos commented on #110
Not yet, things have been extremely slow over the summer and not much work has been done as this is also fairly low priority for us.  I need to follow up with @seamusabshere again so we can even nail down an interface we’d like for version 2.  That being said, you’re welcome to start work on something and we can fold it in :)

[2018-08-19 04:55] KevinColemanInc opened #111 "Gotcha postgres: `unique_index_on_selector?` does not work as expected"
# Current behavior
The standard way of defining a unique index for table integrity [in rails](https://apidock.com/rails/ActiveRecord/ConnectionAdapters/SchemaStatements/add_index) is to call `add_index(..., unique: true)`.  This calls `CREATE UNIQUE INDEX` in postgres to define the unique constraint.

## Gotcha!

`upsert` is using `information_schema.constraint_column_usage` to determine if a tabl

[2018-08-19 05:01] pnomolos commented on #111
I’ll change the name, as we want to look for a unique constraint (a unique
index does not necessarily work) in order for INSERT ... ON CONFLICT ...
work.
On Sat, Aug 18, 2018 at 9:55 PM Kevin Coleman <notifications@github.com>
wrote:

[2018-08-19 05:04] KevinColemanInc commented on #111
@pnomolos

If you're just changing the name, this will make your gem difficult to use with rails b/c the `alter table` would not be reflected in your `schema.rb` file which most rails projects use to define the schema.

[2018-08-19 05:04] KevinColemanInc commented on #111
Why does the unique index not work?

[2018-08-19 05:07] pnomolos commented on #111
Because Postgres requires a unique constraint, not a unique index, in order
to use that syntax. Took me a couple days of banging my head against the
wall to sort that one out.
On Sat, Aug 18, 2018 at 10:04 PM Kevin Coleman <notifications@github.com>
wrote:

[2018-08-19 05:08] pnomolos commented on #111
I can add a note that you need to ensure you’re using a constraint in order
for the gem to use the native functionality instead of the generated
function.
On Sat, Aug 18, 2018 at 10:06 PM Philip Schalm <pnomolos@gmail.com> wrote:

[2018-08-19 05:10] KevinColemanInc commented on #111
that is so lame.  Yes, please add a note.  I spent 3 hours poking at this gem trying to figure out why inserting 60k rows took 30 minutes on my dev machine.

The only other thing that was slow was the batch not batching the network calls.

[2018-08-19 05:12] pnomolos commented on #111
What’s your setup?  It’s very curious that it’s taking that long - even on my 2011 MBP it’s faster than that.  If every call is over the network, though, that would make sense.

[2018-08-19 07:02] KevinColemanInc commented on #111
I misread the csv file. When I opened it up in "Apple Numbers", ignored the warning of "there are 1,400,000 rows, but we are only going to show 65k".

On my 2016 MBP with pg running locally and 16GB ram, 1.4m records with `use_pg_native?` as true takes 26 minutes, which is more understandable.

===

I made a PR to add a warning if `use_pg_native?` is false
https://github.com/seamusabshere/upsert/p

[2018-10-27 11:39] samkahchiin commented on #51
@seamusabshere , is this feature available now?

[2018-11-14 16:10] olivierlacan commented on #36
Anyone still interested in working on this?

[2018-11-14 17:09] pnomolos commented on #36
@olivierlacan We need this for at work so it's on the roadmap, yes :)

[2019-01-02 15:04] rajgurung opened #113 "After upgrading to Ruby 2.6, it throws "uninitialized constant Upsert::Connection::PG_Connection""
Upgrade Ruby to `2.6`, and running Rspec it comes up with ` NameError:
       uninitialized constant Upsert::Connection::PG_Connection::Postgresql`.

[2019-01-06 15:08] searls commented on #113
Just saw this subtly break one of my scheduled processes and was having a hell of a time figuring out the cause. Thanks for the assist 💚

[2019-01-22 20:41] mkaplan9 commented on #106
@pnomolos if you're still willing, would love to see that code :)

[2019-01-23 17:03] pnomolos commented on #106
@mkaplan9 @searls I use Sequel, so you'll need to tweak to fit whatever DB adapter you use, but basically you just need to change the Upsert identifier:

[code]

[2019-01-23 18:46] mkaplan9 commented on #106
Thanks, I found that on [this issue](https://github.com/seamusabshere/upsert/issues/76) yesterday and got it to work. I still don't really understand what `Upsert::MergeFunction::NAME_PREFIX = "upsert"` does, is there a place I can learn more about it?

[2019-01-23 21:34] pnomolos commented on #106
@mkaplan9 Normally the upsert functions are versioned (for example: "upsert_1_2").  This just removes that versioning and since it's checking against a regular expression it just removes all the functions called "upsert.*"

[2019-01-24 14:31] mkaplan9 commented on #106
Ah ok that makes sense. Thanks!

[2019-03-27 09:15] ankane commented on #113
Note to future readers: until #114 is merged, you can add this line:

[code]

before

[code]

[2019-05-21 17:08] pnomolos commented on #113
Hi everyone!  My apologies that it's taken so long to get back to this.  Please use the workaround noted by @ankane (https://github.com/seamusabshere/upsert/issues/113#issuecomment-477053456) until I can everything sorted.  Of course Ruby 2.6 break basically everything all the way down, so it's a lot more complicated than just pushing out this fix.  I want to make sure the gem is in proper shape b

[2019-05-31 22:39] pnomolos commented on #113
It's commmmmmmmmmiiiiiiinnnnnng ... https://github.com/seamusabshere/upsert/pull/115

[2019-06-06 23:36] pnomolos opened #117 "Upsert 3.0.0"
Meta-issue to track everything for the Upsert 3.0.0 release.

- [ ] Fix issues with Ruby 2.6 (#115)
- [ ] Remove old version from the testing matrix (#115)
- [ ] Have a better DB matrix using docker images (Preferred would be all currently supported variants of major databases that we support - so Postgresql, Mysql, Maria, and SQLite3)

[2019-06-07 16:14] #113 closed

[2019-06-17 17:59] pnomolos commented on #28
This was fixed in abe136d60e7672485c900a8d3fb48adc989bc961

[2019-06-17 17:59] #28 closed

[2019-06-17 18:02] pnomolos commented on #117
To anyone using this gem, I'm trying to limit 3.0.0 to getting the gem working on modern versions of Ruby/JRuby and pulling in a few outstanding breaking tickets (As well as a few documentation updates).

Is there anything else that would be a breaking change and is a major blocker that you'd like to see in 3.0.0?

[2019-06-17 18:06] KevinColemanInc commented on #117
I am currently not using the gem, so I don't have any input to give.

[2019-06-17 18:07] pnomolos commented on #117
Anything that's blocking you from using it that could be used in a future update, or do you just not need it currently?

[2019-06-17 18:09] searls commented on #117
Other than getting working on the latest everythings, my only feature request would be some way to remove old/unnecessary insert-generated pgsql functions.  I have a bunch of these lingering in my production database even though I've since adjusted things such that they're not being needed

[2019-06-17 18:29] pnomolos commented on #117
@searls Would a note in the README suffice, or do you think it should be built in to the library?  I currently do the following:

[code]

[2019-06-17 18:33] searls commented on #117
Honestly, whether it cleans up after itself automatically or you just document it—entirely up to you! Literally the only pain/friction I can point to

[2019-06-17 21:52] #100 closed

[2019-06-17 21:52] #101 closed

[2019-06-17 22:46] KevinColemanInc commented on #117
I just don't need it currently

[2019-06-19 04:54] YumaInaura opened #119 "MySQL + CREATE FIRST PROCEDURE (No Cached) ROLLBACK does not work"
# Example

[code]

# First time

[code]

# Second Time

[code]

# Cause

is maybe BEGIN and ROLLBACK order?

First time

[code]

Second time ( created PROCEDURE cached )

[code]

[2019-07-03 13:21] searls opened #120 "Postgres String[] values are escaped unnecessarily"
Here's a simple test program:

[code]

This will print: `array: ["don''t", "can''t", "won''t", "lol''"]`

[2019-07-03 13:21] searls commented on #117
Found a thing I'd love in a new version! #120

[2019-07-03 17:52] pnomolos commented on #120
@searls Looks good (and looks like tests are passing).  Do you mind writing a test case for this (that previous failed, and is now passing)?

[2019-07-03 18:15] searls commented on #120
I'm sorry, I took a stab at this but I couldn't get the gem to build locally try as I might because of the mysql2 gem failing to build on my machine :(

[2019-07-03 18:20] pnomolos commented on #120
@searls No problem!  I'll get a spec together :)

[2019-07-03 18:37] #120 closed

[2019-08-19 07:05] searls commented on #117
Mind cutting a release with where things are? I've been running off a github fork for the last month

[2019-08-19 12:09] pnomolos commented on #117
@searls I’ll be wrapping this up and cutting a release when I’m back in a couple weeks.  Sorry for the big delay!

[2019-08-24 08:36] RaresSalcudean opened #123 "Maybe a concurrency Issue?"
Hello,

Currently, I have a migration script that uses upsert to update 4 million records in batches of 30,000. I have multiple Resque Workers for each batch so ~134 workers each executing one batch.

From time to time I get the following error (full output):

[code]

The main issue:

[code]

I'm not 100% sure why it triggers the duplicate key unique constraint, for the simple fact that all the ti

[2019-08-24 12:38] pnomolos commented on #123
Hi @RaresSalcudean can you share a little more about your setup such as PG version, and if possible what your table schema looks like and some sample data?

If it’s possible for you to use at least PG 9.6 and change your schema to untilize the new native UPSERT ability that might help out your performance as well :)

[2019-08-26 06:26] RaresSalcudean commented on #123
@pnomolos I am using PG 11 doe...

[2019-08-27 08:17] RaresSalcudean commented on #123
I believe 100% it was a concurrency Issue, right at the start when the jobs start using Upsert, they do the check if the upsert function exists if not create it. My gut tells me that 2 jobs tried creating the function at the same time this failed.

I fixed the issue by doing a 'fake' upsert in sync before the jobs start, so the functions are created.

Have a great day!
Rares

[2019-08-27 08:17] #123 closed

[2019-10-01 17:52] pnomolos opened #124 "Fix quoting on JRuby"
Bug was likely introduced in 548a13a70edb75cf32463db6c1fd7a595f94be57

[2019-10-01 18:02] #76 closed

[2019-10-30 21:38] olivierlacan commented on #36
@pnomolos Checking back in since this is a source of performance issues for us still.

[2019-10-31 16:15] pnomolos commented on #36
@olivierlacan Yes, I'm going to try and get it in once 3.0 is released, but work has been crazy the last while so I haven't had much time.  I was trying to get 3.0 pushed out over Hacktober but you see how well that went :man_facepalming:

[2019-11-09 04:58] searls opened #128 "Upsert creating custom functions even when a postgres unique constraint is in place"
I did my best to follow the README on this one, but I'm still missing something. Running on master

From my structure.sql:

[code]

When I call `Upsert.batch`:

[code]

And then I run `rake db:structure:dump`, I'll get:

[code]

[2019-11-10 02:14] searls commented on #128
I was curious about this and it definitely looks like the gem will [call this method](https://github.com/seamusabshere/upsert/blob/master/lib/upsert/merge_function/postgresql.rb#L317-L321) to create the custom functions even if `use_pg_native?` will return `true`. Just emptied both methods that were creating PG functions and the gem still worked fine from the look of it.

This is important to me b

[2019-11-10 02:16] pnomolos commented on #128
@searls I'm out of town for the next week but once I'm back I'll take a look at making sure it doesn't create the function if it's not necessary.

[2019-11-25 21:45] pnomolos commented on #117
@searls @olivierlacan I've cut a 2.9.9 release that's effectively 3.0.0 except there's one small bug with jruby that I'm still ironing out.

[2019-12-06 09:35] filipeamoreira opened #130 "References invalid column name when using Postgresql 12"
While testing Postgresql 12 in one of our apps we bumped into this issue:

[code]
The column adsrc had a deprecation notice since v8.0 (https://www.postgresql.org/docs/8.0/catalog-pg-attrdef.html) and was removed in v12.0.

PR added here with fix: https://github.com/seamusabshere/upsert/pull/129

[2019-12-12 13:44] itay-grudev commented on #130
@seamusabshere This impacts a lot of people right now, Please update it ASAP,

[2019-12-19 19:28] pnomolos commented on #130
Fixed via #129

[2019-12-19 19:28] #130 closed

[2020-03-18 16:53] sgeef commented on #117
@pnomolos I'm unsure on the exact details on the issue I'm seeing, but currently investigating it. I've upgraded from v2.2.1 to the current latest. and started having issues with a not nullable field, which is not in the setter and before didn't break.. I'll keep you posted, while I investigate, but would you have any idea where this might be related too?

Note, we are forced to get the latest ver

[2020-03-18 16:56] pnomolos commented on #117
@sgeef Have you cleared all your upsert functions since the update?  I use the following for Sequel:

[code]
run this in a one-off, the big takeaway is to redefine the merge function prefix so it clears everything.

[2020-03-19 10:31] sgeef commented on #117
@pnomolos this doesn't seem to be the issue. as our test suite doesn't have the functions by default and are re-generated by default.. So I guess there is another breaking changing, somewhere since v2.2.1

After debugging both the old version and the new version I've figured that the v2.2.1 returned on the `use_pg_native?` method false before and now started returning true.

Which was related to t

[2020-03-20 09:23] sgeef commented on #117
Just to leave this closed @pnomolos, thanks for helping out. it turned out we only need updates, which explained why it didn't ever fail with the function.. It seems though that the native approach fails if you lack a non-nullable field.. as the insert would never be able to execute. (Solved!)

[2020-05-01 01:39] arcreative opened #133 "Postgres 12 Compatibility"
Looks like this gem doesn't work with Postgres 12--I'm in the awkward phase where I've upgraded my local PG, but I haven't yet upgraded our application to Rails 6 to take advantage of the native upsert.  The error is as follows:

[code]

[2020-05-01 02:04] pnomolos commented on #133
Hi @arcreative can you please try upgrading to 2.99?  It should fix your error.  (I might have to cut a release if it’s not on rubygems yet).

[2020-05-01 02:15] arcreative commented on #133
@pnomolos I don't see a tag for that--is there something I'm missing?

[2020-05-01 02:21] arcreative commented on #133
Nevermind--I see you're versioning but not tagging.  2.9.10 looks like it's working better.

[2020-05-01 02:28] arcreative commented on #133
@pnomolos I'm seeing some null constraint errors with some of the newer changes here... I would love to dive into it further, but I don't really have time to install an older version of PG right now to investigate, unfortunately...

[2020-05-01 02:30] pnomolos commented on #133
@arcreative I saw that myself on one of our projects but I’m using Sequel and was in a rush so just converted to native Upsert.  Any chance you can send me a small test case?  I’m running PG10 through 12 so I can test it 😁

[2020-05-01 02:39] pnomolos commented on #133
@arcreative Even a backtrace and the table creation statement should be enough, if you’re able to share that 👍

[2020-05-01 08:57] sgeef commented on #133
@arcreative sounds very simular yto the issue i had when upgrading to pg12 and while upgrading the gem. https://github.com/seamusabshere/upsert/issues/117#issuecomment-601105311

[2020-05-01 23:10] arcreative commented on #133
I stopped being lazy and installed the `postgres:10` Docker image--it's definitely failing with null constraints for the native method where it wasn't with the upsert function.  I think I'll just stick with this Postgres 10 solution on 2.2.1 for now and upgrade when I have more time.

Thanks for the info, and would definitely get a new gem cut if you're planning on keeping it this way, but I'm not

[2021-02-19 22:11] pnomolos opened #137 "Support jdbc-mysql 8."

[2021-02-20 00:08] pnomolos commented on #133
Fixed via #138

[2021-02-20 00:08] #133 closed

[2021-02-20 00:08] pnomolos commented on #124
Fixed via #138

[2021-02-20 00:08] #124 closed

[2021-02-20 00:08] pnomolos commented on #105
This has occured and will be part of the 3.0.0 roll out.

[2021-02-20 00:08] #105 closed

[2021-02-20 00:09] pnomolos commented on #111
Closed via #112

[2021-02-20 00:09] #111 closed

[2021-02-20 00:09] pnomolos commented on #53
This should now be fixed as well.

[2021-02-20 00:09] #53 closed

[2021-09-16 15:46] dfuentes77 opened #139 "please update changelog file with changes to published versions"